/* font style */
.italic {
    font-style: italic;
}

/* display style */
.none {
    display: none;
}

.grid {
    display: grid;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

/* border */
.border-none {
    border: none;
}

/* float */
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-none {
    float: none;
}

/* outline */
.outline-none {
    outline: none;
}

/* position */
.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
}

/* text-align */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* cursor */
.pointer {
    cursor: pointer;
}

.not-allowed {
    cursor: not-allowed;
}

/* flex property */
.flex-wrap {
    flex-wrap: wrap;
}

.flex-wrap-r {
    flex-wrap: wrap-reverse;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* justify content */
.justify-content-center {
    justify-content: center;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.justify-content-flex-start {
    justify-content: flex-start;
}

/* align items */
.align-items-center {
    align-items: center;
}

.align-items-flex-start {
    align-items: flex-start;
}

.align-items-flex-end {
    align-items: flex-end;
}

/* color */
.red-font {
    color: #dc3545;
}

.gray-font {
    color: #F7F7F7;
}

.white-font {
    color: white;
}

.black-font {
    color: black;
}

.green-font {
    color: #013D29;
}

.light-green-font {
    color: green;
}

.blue-font {
    color: #006EC5;
}

/* Background Color */
.bg-white {
    background-color: #fff;
}

.bg-black {
    background-color: black;
}

.bg-gray {
    background-color: #ececec;
}

.bg-green {
    background-color: green;
}

.bg-light-green {
    background-color: #29cc97;
}

.bg-orange {
    background-color: #ff8412;
}

.bg-light-red {
    background-color: #f12b2c;
}

.bg-red {
    background-color: red;
}

.bg-light-black {
    background-color: #363740;
}

.bg-blue {
    background-color: #17a2b8;
}

.bg-yellow {
    background-color: #ffc107;
}

/* Border */
.border-collapse {
    border-collapse: collapse;
}

.border-spacing-none {
    border-spacing: 0;
}

.border-bottom-gray {
    border-bottom: #eeeeee;
}

.border-gray {
    border: 1px solid #e8eaed;
}

.border-radius-4px {
    border-radius: 4px;
}

.border-black {
    border: 1px solid #dbdeff;
}

/* width */
.width-100 {
    width: 100%;
}

.width-auto {
    width: auto;
}