@import url('./dimensions.css');
@import url('./fonts.css');
@import url('./flex.css');
@import url('./border.css');

/* display style */
.none {
    display: none;
}

.grid {
    display: grid;
}

.block {
    display: block;
}

/* float */
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-none {
    float: none;
}

/* outline */
.outline-none {
    outline: none;
}

/* position */
.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
}

/* text-align */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* text decoration */
.line-through {
    text-decoration: line-through;
}

/* cursor */
.pointer {
    cursor: pointer;
}

.not-allowed {
    cursor: not-allowed;
}
