.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 30px;
    background: #fff;
}

.header-middle-area-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.header-search-icon {
    font-size: 34px !important;
    margin: 5px 0;
    padding: 5px;
    border-radius: 50%;
}

.header-search-icon:hover {
    color: white;
    background-color: #006EC5;
    transition: 0.5s;
}

.header-category-main {
    position: absolute;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
    margin-top: 10px;
    padding: 30px 40px;
    background: white;
    border-radius: 4px;
    border: 1px solid rgb(165, 165, 165);
}

.header-category-text {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 500;
    border-bottom: 1px solid #006EC5;
}

.header-category-text:hover {
    color: #006EC5;
    border-bottom: 1px solid gray;
    transition: 0.4s;
}

.header-subcategory-text {
    margin: 5px 0;
    color: #006EC5;
}

.header-subcategory-text:hover {
    color: black;
    transition: 0.4s;
}