.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 30px;
    background: #fff;
}

.header-middle-area-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.header-search-icon {
    font-size: 34px !important;
    margin: 5px 0;
    padding: 5px;
    border-radius: 50%;
}

.header-search-icon:hover {
    color: white;
    background-color: #006EC5;
    transition: 0.5s;
}