.user-main-box {
    margin: 0 5rem;
    padding: 20px;
}

.user-sidebar-item {
    display: flex;
    align-items: center;
    font-size: 18px;
    width: fit-content;
    margin: 10px 0;
    border: 1px solid;
}

.user-sidebar-item-active {
    color: red;
}