.top-card-container{
    margin: auto;
    box-sizing: border-box;
    width: 100%;
    padding: 0 6rem;
    /* display: flex;
    flex-direction: column; */
}
.top-card-container>p{
    margin-top: 50px;
}
.product-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}